{
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-class-properties"
  ],
  "presets": ["react", "env"],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".css", ".scss"]
          }
        ]
      ]
    }
  }
}
